* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    padding: 1em;
    background-image: linear-gradient(to right, #16A085, #F4D03F);
}

main {
    border: 1px solid black;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3em;
}

beach-name button {
    background-color: yellow;
    border: none;
}

